<%- include('partials/head.ejs',{pageTitle}) %>

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 col-md-offset-1">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th class="text-center">Price</th>
                            <th class="text-center">Total</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="/assets/js/cart.js"></script>
    </body>

    </html>