<%- include('partials/head.ejs',{pageTitle}) %>

    <br>
    <main class="container">
        <section class="card mx-auto " style="width: 500px;">
            <div class="card-body">
                <h1 class="card-title text-primary">Contact</h1>
                <hr>
                <form>
                    <label for="textInput">Name</label>
                    <input type="text" class="form-control mb-2" placeholder="Enter name">

                    <label for="textInput">Phone Number</label>
                    <input type="text" class="form-control mb-2" placeholder="Enter phone">

                    <label for="textInput">E-mail</label>
                    <input type="text" class="form-control mb-2" placeholder="Enter E-mail">

                    <label for="textInput">Message</label>
                    <input type="text" class="form-control mb-2" placeholder="Enter Message" style="height: 5rem;">
                </form>
                <button class="btn btn-primary"><a class="text-white" href= "mailto:zst9394@outlook.com ">Submit</a>
  </div> 
  
</section>
</main> 
<br>

</body>
</html>