<%- include('partials/head.ejs',{pageTitle}) %>

    <div class="container-fluid">
        <div class="row">
            <section class="col-2 category">
                <p class="font-weight-bold"><br>Style:</p>
                <hr>
                <button type="button" id="run" class="btn btn-light btn-sm">Run</button>
                <button type="button" id="tennis" class="btn btn-light btn-sm">Tennis</button>
                <button type="button" id="sneaker" class="btn btn-light btn-sm">Sneaker</button>
                <button type="button" id="basketball" class="btn btn-light btn-sm">Basketball</button>
                <button type="button" id="heels" class="btn btn-light btn-sm">Heels</button>
                <button type="button" id="boots" class="btn btn-light btn-sm">Boots</button>
                <p class="font-weight-bold"><br><br>Price:</p>
                <hr>
                <button type="button" id="p25" class="btn btn-light btn-sm">25-</button>
                <button type="button" id="p2550" class="btn btn-light btn-sm">25-50</button>
                <button type="button" id="p5075" class="btn btn-light btn-sm">50-75</button>
                <button type="button" id="p75" class="btn btn-light btn-sm">75+</button>

                <p class="font-weight-bold"><br><br>Gender:</p>
                <hr>
                <button type="button" id="men" class="btn btn-light btn-sm">Men</button>
                <button type="button" id="women" class="btn btn-light btn-sm">Women</button>
                <button type="button" id="kids" class="btn btn-light btn-sm">Kids</button>
                <p class="font-weight-bold"><br><br>Material:</p>
                <hr>
                <button type="button" id="leather" class="btn btn-light btn-sm">Leather</button>
                <button type="button" id="cloth" class="btn btn-light btn-sm">Cloth</button>
                <button type="button" id="pu" class="btn btn-light btn-sm">PU</button>

            </section>

            <main class="col-10 pictures">
                <div class="row" id="show">
                </div>
            </main>


        </div>
    </div>

    <script src="/assets/js/index.js"></script>

    </body>

    </html>