<%- include('partials/head.ejs',{pageTitle}) %>

    <main class="container">
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <img id="imgLg" class="img-responsive img-fluid" src="./assets/img/cart.jpg" alt="itempic">

            </div>
            <div class="col3">
                <h1 id="name">Name of the product</h1>
                <h6 id="stock">Stock :</h6>
                <hr>
                <h6 id="price">Price:</h6>
                <hr>
                <p id="info">Description:</P>
                <hr>
                <button type="button" class="btn btn-primary addBtn">Add to cart</button>
            </div>
        </div>
        <hr>

    </main>


    <script src="/assets/js/item.js"></script>
    </body>

    </html>